@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}


header{
    height: 120px;
    
    
    
}
.linea {
    border-top: 1px solid rgba(0, 0, 0, 0.692);
    height: 5px;
    max-width: 2400px;
    padding: 0;
    margin: 20px auto 0 auto;
    
  }
.container-header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img {
    width: 180px;
    padding: auto;
    margin-bottom: 20px;
}
.menu nav ul{
    display: flex;
    
}
.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
    margin-top: 20px;
     
    
    
}
.menu nav ul li a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(46, 38, 161);
    transition: opacity 300ms;
    transition: background 300ms;
}
.menu nav ul li a:hover {
    opacity: 0.6;
}
.btn-header-contacto,
.btn_contacto_cover{
    padding: 14px 50px;
    border: none;
    background: rgb(46, 38, 161);
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
    
}
.btn-header-contacto:hover,
.btn_contacto_cover:hover{
    background: #0b8992;
    color: black;
}

/*portada-cover*/

main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
    

}
.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}
.text-informacion-cover{
    width: 50%;
    margin-top: 40px;
}
.text-informacion-cover h1 {
    font-size: 50px;
    text-align: center;
}

.text-informacion-cover p {
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    color: black;
}

.button-cover{
    display: flex;
    margin-top: 40px;
    justify-content: center;

}

.btn-leermas-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn-leermas-cover:hover{
background: #ffffff;
}

.media-cover {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}
.media-cover img{
    width: 70%;
    margin-bottom: 10px;
    margin-left: 70px;
    border-radius: 50%;
    box-shadow: 1px 6px 13px 0px rgb(31 30 69 / 70%);
}


/*banner*/


.container-banner {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}
.banner-icon-bottom{
    width: 35%;
    height: 100%;

}

#icon-bottom {
    width: 330px;
    margin-top:-20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,1));
}

.banner-text{
    
    width: 60%;
    position: relative;
    padding: 40px;
}
.banner-text h2{
    color:rgb(187, 186, 186);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.container-card  { 
    display: flex !important;
    justify-content: space-around;
    

}

.card-html{ 
    margin-top: 10%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./html.jpg);
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 160ms;
    cursor: pointer;
}

.card-html:hover { 
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgba(0,0,0,0.6);
    opacity: 1;
}
.container-css { 
    display: flex;
    
}
.card-css{ 
    margin-top: 10%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./css3.png);
    background-size: cover;
    background-position: center;
    transition: all ease-in-out 160ms;
    cursor: pointer;
}

.card-css:hover { 
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgba(0,0,0,0.6);
    opacity: 1;
}

.card-js{ 
    margin-top: 10%;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-image: url(./js.png);
    background-size: cover;
    background-position: 14em;
    transition: all ease-in-out 160ms;
    cursor: pointer;
}

.card-js:hover { 
    transform: scale(1.2);
    box-shadow: 10px 20px 30px rgba(0,0,0,0.6);
    opacity: 1; 
}

footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #121214;
    height: auto;
    width: 100vw;
    margin-top: 200px;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}




